[Unit]
Description=uwsgi emperor for open web app
After=network.target
[Service]
User=mannie
Restart=always
ExecStart=/home/mannie/openxp-backend/env/bin/uwsgi --emperor /home/mannie/openxp-backend/env/md/vassals --uid mannie --gid mannie
[Install]
WantedBy=multi-user.target
