[Unit]
Description=uwsgi emperor for open web app
After=network.target
[Service]
User=ubuntu
Restart=always
ExecStart=/home/ubuntu/openxp-backend/env/bin/uwsgi --emperor /home/ununtu/openxp-backend/env/md/vassals --uid ubuntu --gid ubuntu
[Install]
WantedBy=multi-user.target
